
        #tooltip{
                position: absolute;
                padding: 5px; 
                background: white; 
                border: solid gray 1px;
                z-index: 1; 
            }
        #tooltip.hidden {
            display: none;
        }
        #tooltip p{
            margin:0;
        }

        g.tick text {
                font-size: 14px;
            }
        .y .tick line{
            display: none;
        }
